/* tablets */
/* header */
@media (min-width: 768px) {
  header {
    display: block;
  }

  .main-photo-container {
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -80px;
    justify-content: flex-start;
  }

  section.about-me {
    margin: 10rem 3rem 0 4rem;
    padding: 5rem 1rem 1rem 1rem;
    box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.3);
  }

  .about-me {
    text-overflow: inherit;
  }

  h1.name {
    margin-left: 21rem;
    width: fit-content;
    text-wrap: nowrap;
  }

  .triangle {
    height: 60vh;
  }

  /* Projects */
  main {
    margin-top: 30px;
    display: block;
  }

  main h2 {
    text-align: left;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-gap: 2rem;
  }

  .title {
    margin-left: 15px;
  }

  .content {
    padding-top: 0;
  }

  /* Footer */
  footer {
    display: flex;
    width: 100vw;
    background-color: var(--bg-color);
    column-gap: 2rem;
    margin-top: 10rem;
  }
  section.contact-me {
    padding: 4rem 1rem 1rem 2rem;
    min-width: 300px;
    max-width: 400px;
  }

  footer h2 {
    text-align: left;
    padding-bottom: 10px;
  }

  .footer-icon-container {
    display: flex;
    justify-content: start;
    gap: 2rem;
  }

  .telephone,
  .email {
    padding-top: 6px;
  }

  .closing-photo {
    width: 40vw;
    max-height: 400px;
    object-fit: cover;
    min-height: 300px;
    margin: 2rem 2rem 2rem 0;
  }
}

/* computers */
/* header */
@media (min-width: 1000px) {
  .main-photo-container {
    margin: -4rem 2rem 0 3rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: 450px;
    width: 400px;
    max-width: 500px;
    justify-content: flex-end;
  }

  section.about-me {
    width: 62vw;
    margin: 7rem 0 5rem 20rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .about-me {
    text-overflow: inherit;
  }

  h1.name {
    margin-left: 50px;
  }

  .about-me h2 {
    text-align: left;
    margin: 2rem 0 1rem 1rem;
  }

  .about-me p {
    margin: 0 0 2rem 1rem;
    font-size: 18px;
    line-height: 25px;
  }

  .icon-container {
    justify-content: right;
    padding-bottom: 1rem;
    padding-right: 3rem;
    column-gap: 25px;
  }

  .triangle {
    height: 60vh;
  }

  /* Projects */
  main {
    margin-left: 2rem;
  }

.project {
  margin-bottom: 5px;
}

  .description {
    margin-left: 15px;
    padding-bottom: 40px;
  }

  /* footer */

footer {
  margin-top: 5rem;
}

  section.contact-me {
    margin: 1rem;
    padding: 2rem 0 0 2rem;
  }

  .closing-photo {
    width: 50rem;
    height: 400px;
    object-fit: cover;
    min-height: 300px;
    margin: 2rem 2rem 2rem 0;
    padding-top: 1rem;
    padding-right: 3rem;
  }
}
