/* computers */
@media (min-width: 1000px) {

  .main-photo-container {
    margin: 2rem 0 0 5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: 550px;
  }

  section.about-me {
    margin: 6rem 5rem 0 0;
    width: 50vw;
    margin-bottom: 60px;
  }

  .about-me h2 {
    text-align: left;
    margin: 2rem 0 1rem 1rem;
  }

  .about-me p {
    margin: 0 0 3rem 1rem;
  }

  .icon-container {
    justify-content: right;
    padding-bottom: 2rem;
    padding-right: 3rem;
    column-gap: 25px;
  }

  /* Projects */
  main {
    margin-top: 5rem;
    margin-left: 2rem;
  }

  main h2 {
    text-align: left;
    padding-left: 2rem;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 420px);
    grid-gap: 10px;
  }

  .project {
    width: 400px;
    margin-bottom: 20px;
  }

  .description {
    margin-left: 15px;
    padding-bottom: 40px;
  }

  /* footer */
  footer {
    display: flex;
    width: 100vw;
    background-color: var(--bg-color);
    column-gap: 2rem;
  }

  section.contact-me {
    margin: 1rem;
    padding: 1rem 0 0 2rem;
    min-width: 300px;
    max-width: 400px;
  }

  footer h2 {
    text-align: left;
  }

  .footer-icon-container {
    display: flex;
    justify-content: start;
    gap: 2rem;
  }

  .closing-photo {
    width: 50rem;
    height: 400px;
    object-fit: cover;
    min-height: 300px;
    margin: 2rem 2rem 2rem 0;
  }
}

/* tablets */
/* header */
@media (min-width: 768px) {
  header {
    display: block;
    max-height: 400px;
    position: relative;
    min-height: 40vh;
  }
  .main-photo-container {
    float: left;
  }

  section.about-me {
    margin: 4rem 3rem 0 4rem;
    padding: 3rem 1rem 1rem 1rem;
    box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.3);
  }

  .about-me {
    text-overflow:inherit;
  }

  

/* Projects */
main {
  margin-top: 200px;
}



}
